<% provide(:title, "New") %>
<h1>Manage::Type#new</h1>
<p>Find me in app/views/manage/type/new.html.erb</p>
<%= link_to image_tag("8664c643-550521.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
